
$theme-primary: #047f0e;
$theme-dark: #222;

@import "mixins", "base";

// Custom styles for portfolio images and boxes
.portfolio-box {
        aspect-ratio: 2/3;
        width: 100%;
        height: auto;
        position: relative;
        display: block;
}

.portfolio-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
}
