  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Over Mij</h2>
              <div class="container">
                  <div class="row">
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-user wow bounceIn text-primary"></i>
                              <h3>Ervaring</h3>
                              <p class="text-muted">Ruim 25 jaar professioneel schilder.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-leaf wow bounceIn text-primary" data-wow-delay=".1s"></i>
                              <h3>Duurzaam</h3>
                              <p class="text-muted">Ecologische en 100% natuurlijke verf van Auro en Keim.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-paint-brush wow bounceIn text-primary" data-wow-delay=".2s"></i>
                              <h3>Kwaliteit</h3>
                              <p class="text-muted">Alle kleuren, topkwaliteit en prijsklasse.</p>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 text-center">
                          <div class="service-box">
                              <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                              <h3>Met Zorg</h3>
                              <p class="text-muted">Persoonlijk advies en betrouwbare aanpak.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </aside>
