<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Heeft u vragen of wilt u een afspraak maken? Vul het contactformulier in of bel voor direct contact. U kunt rekenen op een betrouwbare en zorgvuldige service.</p>
            </div>
        <div class="d-flex justify-content-center">
            <div class="col-lg-2 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 text-center">
                <a href="https://wa.me/31686056711" target="_blank">
                <i class="fa fa-whatsapp fa-3x wow bounceIn text-success" data-wow-delay=".1s"></i>
                    <p>+31 6 86056711</p>
                </a>
            </div>
        </div>

    </div>
</section>
