<section class="bg-primary" id="over_mij">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 text-left">
                <h2 class="section-heading">Over mij</h2>
                <hr class="light">
                <p class="text-faded">Mijn naam is Ken-Min Song. Met meer dan 25 jaar ervaring in het schildersvak werk ik voor particulieren, bedrijven en musea.</p>
                <p class="text-faded">Ik gebruik uitsluitend ecologische en 100% natuurlijke verf van <a href="https://www.auro.nl">Auro</a>
, <a href="https://www.keim.com/nl-nl/">Keim</a>, en <a href="https://rigoverffabriek.nl">Rigo</a>. Deze verf is milieuvriendelijk, geurloos en veilig voor het binnenklimaat.</p>
                <p class="text-faded">De duurzame verfsoorten zijn verkrijgbaar in alle kleuren en bieden dezelfde kwaliteit en prijsklasse als reguliere verf.</p>
                <p class="text-faded">Ik kom altijd persoonlijk langs om het werk op te nemen, geef deskundig advies en bied een vrijblijvende offerte aan.</p>
                <p class="text-faded">U kunt rekenen op een zorgvuldige en betrouwbare aanpak, met aandacht voor uw wensen én het milieu.</p>
            </div>
            <div class="col-md-5 text-center">
                <img src="/img/ken-min.jpg" alt="Ken-Min Song" class="img-responsive img-rounded" style="max-width: 300px; margin: 20px auto;">
            </div>
        </div>
    </div>
</section>
