<section id="portfolio">
    <div class="container" style="padding-bottom: 100px;">
        <div class="row d-flex flex-wrap justify-content-center">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid no-padding">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/10.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/14.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/15.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/16.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/17.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/18.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/19.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/20.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/21.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/24.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/3.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/7.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/8.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/indoor_azure.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/inside_pavement.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/museum_color_rooms.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/museum_hall_empty.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/museum_hall_exibition.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/outside_1_building.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/outside_2_scaffolding.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/outside_3_column_repair.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs_0.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs_1_curve.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs_2.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs_3.jpg" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stairs_red.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stikkerhuis_full.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stikkerhuis_top_1_before.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                 <div class="portfolio-box">
                        <img src="img/portfolio/stikkerhuis_top_2_after.png" class="img-responsive portfolio-img" alt="">
                 </div>
            </div>
        </div>
    </div>
</section>
