<section class="bg-primary" id="about">
    <div class="col-lg-8 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <hr class="light">
    </div>
</section>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/3.jpeg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/4.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/5.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/6.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/7.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/8.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/9.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/10.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/11.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/12.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/13.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/14.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/15.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/16.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/17.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/18.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/19.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                        <img src="img/portfolio/20.jpg" class="img-responsive portfolio-img" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
