<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Diensten</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pagelines wow bounceIn text-primary"></i>
                    <h3>Duurzame materialen</h3>
                    <p class="text-muted">Ecologische en 100% natuurlijke verf van Auro en Keim.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bolt wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Snelle service</h3>
                    <p class="text-muted">Persoonlijke opname en vlotte uitvoering.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mortar-board wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Vakmanschap</h3>
                    <p class="text-muted">Ruim 25 jaar professionele ervaring.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Met Zorg</h3>
                    <p class="text-muted">Aandacht voor uw wensen en het milieu.</p>
                </div>
            </div>
        </div>
    </div>
</section>
