<section class="bg-dark" id="waarom-auro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">Waarom Auro verf gebruiken?</h2>
                <hr class="light">
                <ol>
                    <li class="text-faded">
                        <strong>Milieuvriendelijk en duurzaam</strong><br>
                        Auro verf is gemaakt van natuurlijke, hernieuwbare grondstoffen zoals plantaardige oliën, natuurlijke harsen en minerale pigmenten. Er worden geen synthetische stoffen of petrochemische oplosmiddelen gebruikt. De verf is biologisch afbreekbaar en composteerbaar.
                    </li><br>
                    <li class="text-faded">
                        <strong>Gezond voor binnenklimaat en ademhaling</strong><br>
                        Vrij van schadelijke dampen (VOS: vluchtige organische stoffen). Ideaal voor mensen met allergieën, astma of gevoeligheid voor chemische stoffen. Veilig voor gebruik in slaapkamers, kinderkamers en zelfs speelgoed (gecertificeerd volgens EN 71-3).
                    </li><br>
                    <li class="text-faded">
                        <strong>Biologisch afbreekbaar</strong><br>
                        Auro verf is volledig biologisch afbreekbaar. Resten kun je op een milieuvriendelijke manier afvoeren, dus geen chemisch afval.
                    </li><br>
                    <li class="text-faded">
                        <strong>Mooie natuurlijke uitstraling</strong><br>
                        Mooie matte of zijdeglans afwerking. Natuurlijke pigmenten zorgen voor diepe, warme kleuren.
                    </li><br>
                    <li class="text-faded">
                        <strong>Goede technische prestaties</strong><br>
                        Duurzaam in gebruik, goede hechting en slijtvastheid, vergelijkbaar met synthetische verf. Ademend (belangrijk bij oude muren of leem/stucwerk). Sommige producten, zoals lakken of oliën, zijn zeer geschikt voor hout en vloeren.
                    </li><br>
                    <li class="text-faded">
                        <strong>Transparante ingrediëntenlijst</strong><br>
                        Auro vermeldt alle ingrediënten op het etiket, wat zeldzaam is in de verfwereld. Je weet precies wat er op je muren of houtwerk wordt gesmeerd.
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
